extends ../layout
block content
        h2= title
        ul Name: #{student.firstName} #{student.lastName}
                li Student id: #{student.studentId}
                li Address: #{student.address}
                li Date of birth: #{student.dateOfBirth}